[bumpversion]
current_version = 0.1.12
commit = True
tag = True
message = "🔖 Release {new_version}"

[bumpversion:file:pyinit/__main__.py]
search = VERSION = "{current_version}"
replace = VERSION = "{new_version}"

[bumpversion:file:setup.py]
search = version="{current_version}"
replace = version="{new_version}"
